html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(359deg, #210268, #050211);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    width: 100%;
    text-align: center;
}

header h1 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-family: 'Times New Roman';
}

/*Parksafe*/

.parksafe {
    display: inline-flex;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgba(35, 33, 146, 0.384);
    border-left: 0;
    border-right: 0;
}

.parksafe h1 {
    font-size: 40px;
    color: white;
    font-family: 'Times New Roman';
    margin-left: 200px;
}

.parksafe img {
    height: 500px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.473);
    filter: brightness(0.26)
}

.parksafe .picture {
    text-align: center;
    position: relative;
}

.parksafe .picture p {
    position: absolute;
    font-size: 24px;
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman';
    top: 200px;
    left: 314px;
    border: 1px solid #3c18919d;
    border-radius: 5px;
    padding: 20px;
    background-color: #3c18919d;
    box-shadow: 0px 0px 5px rgb(78, 14, 228);
    transition: padding-top 0.5s, padding-left 0.5s, top 0.5s,
     left 0.5s, padding-bottom 0.5s, padding-right 0.5s, filter 0.5s,
     background-color 0.5s;
}

.parksafe .picture p:hover {
    cursor: pointer;
    padding-bottom: 225px;
    padding-top: 240px;
    padding-left: 130px;
    padding-right: 130px;
    top: -20px;
    left: 204px;
    filter: brightness(1.4);
}

.parksafe p {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    font-family: 'Times New Roman';
    margin-left: -200px;
}

/*Tone Changer*/

.tonechanger {
    display: inline-flex;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgba(35, 33, 146, 0.384);
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.tonechanger h1 {
    font-size: 40px;
    color: white;
    font-family: 'Times New Roman';
    margin-left: 200px;
    margin-right: 20px;
}

.tonechanger img {
    height: 500px;
    margin-right: 55px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.473);
    filter: brightness(0.3)
}

.tonechanger .picture {
    text-align: center;
    position: relative;
}

.tonechanger .picture p {
    position: absolute;
    font-size: 24px;
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman';
    top: 200px;
    left: 305px;
    border: 1px solid #3c18919d;
    border-radius: 5px;
    padding: 20px;
    background-color: #3c18919d;
    box-shadow: 0px 0px 5px rgb(78, 14, 228);
    transition: padding-top 0.5s, padding-left 0.5s, top 0.5s,
     left 0.5s, padding-bottom 0.5s, padding-right 0.5s, filter 0.5s,
     background-color 0.5s;
}

.tonechanger .picture p:hover {
    cursor: pointer;
    padding-bottom: 225px;
    padding-top: 240px;
    padding-left: 130px;
    padding-right: 130px;
    top: -20px;
    left: 195px;
    filter: brightness(1.4);
}

.tonechanger p {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    font-family: 'Times New Roman';
    margin-left: -190px;
    margin-right: 20px;
}

@media only screen and (max-width: 1920px) {

    header h1 {
        transform: scale(0.7);
    }

    .content-cards {
        transform: scale(0.7);
        margin-top: -200px;
    }

    .parksafe .info {
        white-space: nowrap;
        position: relative;
        left: 200px;
        margin-left: -190px;
    }

    .parksafe h1 {
        position: relative;
        left: -100px
    }

    .tonechanger .info {
        white-space: nowrap;
        position: relative;
        left: 200px;
    }

    .tonechanger h1 {
        white-space: nowrap;
        position: relative;
        left: -100px
    }
    

}